body{
    max-width: 90%;
    margin: auto;
    background-image:url(img/kisspng-purple-abstract-fantasy-abstract-purple-lines-5a9802e8632a09.8998568715199116564062.jpg) , radial-gradient(rgb(237, 22, 210), rgb(118, 182, 246));
    background-repeat: no-repeat, no-repeat;
    background-position: cover, bottom right ;
}


p{
    font-family: serif;
    line-height: 20px;
    color: #2e1010;
    font-size: 20px;
}

.nav1{
    background-color: yellow;
}

a.nav{
    text-decoration: none;
    border-image: linear-gradient(red, blue) 27/20px;
    color: #fff;
    padding: 5px;
    margin: 5px;
    
}

a.nav:hover{
    border-image: linear-gradient(rgb(54, 41, 128), rgb(174, 201, 24)) 27/20px;
}

a.nav:visited{
    color: rgb(41, 207, 219);
}

q{
    max-width: 50%;
    font-size: 20px;
    font-style: italic;
    display: block;
    margin: auto;
    font-size: 1.6em;
    line-height: 30px;
    background-color: rgb(219, 213, 213);
    
    padding-left: 30px;
    margin-bottom: 80px;
    margin-top: 80px;
}

q.fermier{
    border-left: 3px solid rgb(212, 30, 30);
}

q.villageois{
    border-left: 3px solid rgb(60, 52, 170);
}

q:before {
    content: "";
    
  }
  
  q:after {
    content: "";
  }